.font-style { 
  font-family: "CircularStdBook", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #edf0f1;
  text-decoration: none;
}

.nav-root {
  width: 100%;
}

#nav-button {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2.5em;
}

.nav-logo {
  cursor: pointer;
  color: white;
  font-family: "CircularStdBlack", sans-serif;
  font-size: 24px;
  margin-right: auto;
}

.nav-logo-span {
  color: var(--neon-green);
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.nav-links li {
  padding-left: 0.5em;
}

@media (min-width: 768px) {
  .nav-links li {
    padding-left: 1em;
  }
}

.nav-links li a {
  transition: all 0.4s ease 0s;
}

.nav-links li a:hover {
  color: var(--neon-green);
}

@media screen and (max-width: 768px) {
  .nav-links li {
    display: none;
    transition: all 0.4s ease 0s;
  }

  #nav-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 0 0 1.5em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .opened ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: all 0.5s;
  }

  .opened li {
    display: block;
    padding: 20px 0 0 0;
  }

  .nav-links {
    justify-content: center;
  }

  .nav-container {
    padding: 25px 1.5em;
  }

  .nav-logo {
    margin: 0;
  }

  #nav-button img {
    height: 24px;
    width: 24px;
  }
}
