.page-indicator {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  bottom: 50%;
  right: 1em;
  margin-bottom: -35.987px;
}

.indicator-btn {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  outline: inherit;
}

.indicator-btn svg {
  background-color: transparent;
}
