:root {
  --dark-blue: #1d1f3e;
  --dark-blue-card: #262845;
  --neon-green: #69F0AE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  user-select: none;
}

.watermark {
  opacity: 0;
}


@media (min-width: 768px) {
  .watermark {
    font-family: "CircularStdBlack";
    font-size: 13em;
    opacity: 0.1;
    z-index: -1;
    right: 0;
    color: white;
    bottom: 12%;
    position: fixed;
    padding-right: 40px;
  }
}