:root {
  --dark-blue: #1d1f3e;
  --dark-blue-card: #262845;
  --neon-green: #69F0AE;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 0.4em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neon-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69f0afc2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  user-select: none;
}